.wrapper {
    font-size: 20px;
    padding: 13px 25px;
    border: none;
    outline: none;
    background: #eeeeee;
    border: 1px solid #b9bec1;
    box-shadow: 2px 4px 4px rgba(80, 80, 80, 0.25), inset 4px 4px 16px rgba(255, 255, 255, 0.86);
    border-radius: 999px;
    color: var(--primary-color);
}
