.title {
    text-align: center;
    font-size: 60px;
    line-height: 81px;
    font-weight: 700;
    margin-right: 10px;
    color: var(--primary-title);
    margin-top: 185px;
}

.subtitle {
    text-align: center;
    color: var(--text-color);
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 35px;
}
