.wrapper {
    margin-top: 165px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.title {
    font-size: 60px;
    line-height: 81px;
    font-weight: 700;
    margin-right: 10px;
    color: var(--primary-title);
    letter-spacing: -0.015em;
}

.description {
    width: 100%;
    max-width: 628px;
    font-size: 24px;
    line-height: 36px;
    color: var(--text-color);
    letter-spacing: -0.015em;
}

.company-name {
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
    color: var(--primary-color);
}
